.carts {
    max-width: 500px;
    width: 100%;
}

.buy-btn {
  font-size: 0.8rem;
  font-weight: 700;
  color: var(--color-white);
  background: var(--color-accent);
  transition: 0.3s all;
  border-radius: 10px;
  padding: 13px 30px;
  cursor: pointer;
  text-transform: uppercase;
  border: none;
  text-decoration: none;
}

.buy-btn:hover {
    color: var(--color-primary);
}