.footer-logo {
    font-weight: 500;
    font-size: 24px;
    transition: 0.3s color;
    color: var(--color-primary);
}

.footer-logo span {
    color: var(--color-accent);
}

.footer-logo:hover {
    color: var(--color-primary);
    text-decoration: none;
}

.footer-links {
    list-style: none;
    padding: 0;
}

.footer-links li {
    margin-bottom: 10px;
}

.footer-links a {
    color: var(--color-primary);
    text-decoration: none;
    transition: 0.3s;
}

.footer-links a:hover {
    color: var(--color-gray);
}