h1 {
  font-size: 32px;
}

h1::after {
  content: "";
  width: 200px;
  height: 3px;
  background: var(--color-accent);
  display: block;
  margin: 10px auto;
  border-radius: 5px;
}

.prodetails .product-card {
  border-radius: 15px;
  padding: 10px;
  text-align: center;
  box-shadow: 0 4px 12px rgba(0,0,0,0.08);
  transition: all 0.3s ease;
  height: 100%;
}

.prodetails .product-card:hover {
  transform: translateY(-6px);
  box-shadow: 0 10px 25px rgba(0,0,0,0.15);
}

.single-pro-image {
  width: 100%;
  height: 350px;
  object-fit: cover;
  border-radius: 10px;
}

.product-card h5 {
  font-weight: 600;
  margin: 10px 0;
}


.product-card .price {
  font-weight: bold;
  margin: 10px 0;
  color: #000;
}

.product-card button {
  background: var(--color-accent);
  color: var(--color-white);
  border: none;
  border-radius: 20px;
  padding: 8px 15px;
  transition: 0.3s;
}

.product-card button:hover {
  background: #007f66;
}